<% if @account_info.present? %>
  <% if @account_info.keys.include?('name') %>
    <tr>
      <td>Nickname: <%= @account_info['name'] %></td><br>
      <td>Level: <%= @account_info['summonerLevel'] %></td><br>
      <% unless @rank.empty? %>
        <td>Soloq/Duo Rank: <%= @rank[1]['tier'] %> <%= @rank[1]['rank'] %> - <%= @rank[1]['leaguePoints'] %></td><br>
        <td>Flex Rank: <%= @rank[0]['tier'] %> <%= @rank[0]['rank'] %> - <%= @rank[0]['leaguePoints'] %></td>
      <% end %>
      <br>
      <h3> Histórico de Partida </h3>
      <% if @history_and_players.empty? %>
        <ul>
          <li>Não há partidas</li>
        </ul>
      <% else %>
        <% @history_and_players.each do |match| %>
          <ul>
            <li>
              <% match.each do |summoner| %>
                <ul>
                  <%= link_to summoner.first, summoner_account_path(search: summoner.first) %> - Level:  <%= summoner.last %>
                </ul>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <%= link_to 'Voltar para o ínicio', root_path %>
<% end %>
