
<body class="body_home">
  <div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="title-champions">
                <h3><b>Habilidades de <%= @champion.name %></b></h3>
            </div>
        </div>
    </div>
  </div>
  <div class="text-center">
    <h4><b><%= strip_tags(@champion.passive['name']) %> - Passiva<br></b></h4>
    <%= video_tag "https://d28xe8vt774jo5.cloudfront.net/champion-abilities/#{@champion.key.rjust(4,'0')}/ability_#{@champion.key.rjust(4,'0')}_P1.webm", :size => "520x360", :controls => true %><br>
    <div class="text">
      <%= strip_tags(@champion.passive['description']) %><br>
    </div>
  </div>
  <div class="text-center">
    <h4><b><%= strip_tags(@champion.spells[0]['name']) %> - Q<br></b></h4>
    <%= video_tag "https://d28xe8vt774jo5.cloudfront.net/champion-abilities/#{@champion.key.rjust(4,'0')}/ability_#{@champion.key.rjust(4,'0')}_Q1.webm", :size => "520x360", :controls => true %><br>
    <div class="text">
      <%= strip_tags(@champion.spells[0]['description']) %><br>
    </div>
  </div>
  <div  class="text-center">
    <h4><b><%= strip_tags(@champion.spells[1]['name']) %> - W<br></b></h4>
    <%= video_tag "https://d28xe8vt774jo5.cloudfront.net/champion-abilities/#{@champion.key.rjust(4,'0')}/ability_#{@champion.key.rjust(4,'0')}_W1.webm", :size => "520x360", :controls => true %><br>
    <div class="text">
      <%= strip_tags(@champion.spells[1]['description']) %><br>
    </div>
  </div>
  <div class="text-center">
   <h4><b><%= strip_tags(@champion.spells[2]['name']) %> - E<br></b></h4>
    <%= video_tag "https://d28xe8vt774jo5.cloudfront.net/champion-abilities/#{@champion.key.rjust(4,'0')}/ability_#{@champion.key.rjust(4,'0')}_E1.webm", :size => "520x360", :controls => true %><br>
    <div class="text">
      <%= strip_tags(@champion.spells[2]['description']) %><br>
    </div>
  </div>
  <div class="text-center">
    <h4><b><%= strip_tags(@champion.spells[3]['name']) %> - R<br></b></h4>
    <%= video_tag "https://d28xe8vt774jo5.cloudfront.net/champion-abilities/#{@champion.key.rjust(4,'0')}/ability_#{@champion.key.rjust(4,'0')}_R1.webm", :size => "520x360", :controls => true %><br>
    <div class="text">
      <%= strip_tags(@champion.spells[3]['description']) %><br>
    </div>
  </div>
</body>