<!DOCTYPE html>
<html>
  <head>
    <title>ph.gg</title>
    <%= favicon_link_tag 'ph-gg.png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class="head-color">
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
          <%= link_to 'Início', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Campeões', champions_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </head>
  <body>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
